.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.column {
  padding: 1rem;

}
nav{
    background-color: #333;
    color: white;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
nav a:hover{
    text-decoration: underline;
    color: aqua;
}
nav a:active{
    color: red;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: brown;
        color: white;
    }
}
@media screen and (min-width: 768px) {
    body {
        background-color: wheat;
        color: black;
    }
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: Times New Roman, serif;
    
}
