div  >p{
    color: blue;
    font-size: 20px;
    line-height: 1.6;
    margin: 30px;

}

button{
    background-color: aqua;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px 30px;
}   
button:hover{
    background-color: blue;
    color: white;
}   
button:active{
    background-color: red;
}
input{
    padding: 10px;
    border: 4px solid gray;
    border-radius: 6px;
}
 nav {
        background-color: #333;
        overflow: hidden;

    }
    nav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
        nav a:hover {
        background-color: palevioletred;
        color: black;
    }
    nav a.active {
        background-color: #04AA6D;
        color: white;
    }

    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        color: #387488;
    }
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        line-height: 1.6;
        margin: 30px;
    }
    #t{
        color: red;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 34px;

    }
    body {
        background-color: #d1caaa;
        margin: 0;
        padding: 0;
    }
    form {
        margin: 20px;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        border-radius: 10px;
        padding: 20px;
       
    }
