body {
    font-family: Times New Roman, serif;
    
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: blue;
        color: white;
    }
}
@media screen and (min-width: 768px) {
    body {
        background-color: green;
        color: white;
    }
}
.column {
    display: flex; 
    flex: 1 1 auto;
    gap: 20px;

}