body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  

  .container {
    display: flex;
    margin: 20px;
  }



.sidebar {
    float: right;
    width: 25%;
    padding: 10px;
    background-color: #e0e0e0;
  } 
 
  .column {
    float: left;
    width: 70%;
    padding: 10px;
  } 

  img {
    border: 3px solid #333;
    border-radius: 8px;
  }