body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }



  .container {
    display: flex;
    margin: 20px;
  }


.sidebar {
    float: right;
    width: 20%;
    padding: 15px;
    background-color: #f2f2f2;
  } 
 
  .column {
    float: left;
    width: 60%;
    padding: 15px;
  } 

  img {
    border: 5px solid #555;
    border-radius: 10px;
  } 

  