body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: wheat;
    color: black;
}
h1 {
    color: #333;
}
form {
    margin-bottom: 20px;
}
.result {
    font-size: 1.2em;
    color: #555;
}
button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
button:active {
    background-color: #004080;
}
fieldset {
    border: 1px solid wheat;
    padding: 10px;
    margin-bottom: 10px;
}